@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
body {
	font-family: 'Kanit',sans-serif;
	background-color: #F2F4F4;
}
.scc__hr {
	border: 1px solid gray;
	margin-top: 7rem;
	margin-bottom: 2rem;
}
.scc__title {
	font-size: 30px;
	color: black;
}
.scc__skyblue__header {
	background-color: #5A8DEE;
}
.scc__order__page {
	font-size: 20px;
	color: black;
}
.scc__red__color {
	color: red;
}
.scc__button__save {
	border: 1px solid #9D9D9D;
	color: #367DB2;
	box-shadow: 6px 4px 4px rgba(0,0,0,0.25);
	border-radius: 4px;
	background-color: #FAFAFA;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.scc__button__cancel {
	border: 1px solid #9D9D9D;
	color: #fff;
	box-shadow: 6px 4px 4px rgba(0,0,0,0.25);
	border-radius: 4px;
	background-color: #FF5B5C;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.scc__previous__next {
	font-size: 20px;
	cursor: pointer;
}
.scc__page__number {
	font-size: 20px;
	color: white;
}
.scc__background__active__page {
	background-color: #5A8DEE;
	padding: 0rem 1rem 0rem 1rem;
	margin: 0 3rem;
	height: 37px;
	border-radius: 4px;
	cursor: pointer;
}
.scc__top__tab {
	background-color: #182952;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 8px;
}
.scc__margin__bottom__p {
	margin-bottom: 0 !important;
	color: white;
	font-size:22px;
}
.evaluate__online__left {
	font-size: 22px;
	margin-top: 2rem;
}
.evaluate__online__right{
	font-size: 22px;
	margin-top: 2rem;
	color: red;
}
.scc__bg__white {
	background-color: white;
	width: 100%;
	height: auto;
	border-radius: 8px;
	padding: 2rem 1rem;
}
.scc__search__button {
	background-color: #5A8DEE;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.4rem 1.5rem;
}
.scc__margin__top__button {
	margin-top: 2rem;
}
.scc__reset__button {
	background-color: #00CFDD;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.4rem 1.5rem;
}
.scc__hr__gray__line {
	background-color:  #D9D9D9;
}
.scc__table__container {
	overflow-x: auto;
	white-space: nowrap;
	margin-top: 3rem;
}
.scc__th {
	background-color: #5A8DEE;
	color: white;
	padding: 10px;
	border: 1px solid #E8E8E8;
}
.scc__table {
	width: 100%;
}
.scc__td {
	padding: 10px 2rem;
	border: 1px solid #E8E8E8;
}
tr:nth-child(odd) {
	background-color: white;
}
tr:nth-child(even) {
	background-color: #F0F0F0;
}
.scc__red__number__item {
	color: red;
}
.scc__number {
	background-color: #5A8DEE;
	padding: 0.4rem 0.9rem;
	border-radius: 4px;
	color: white;
}
.cursor-pointer {
	cursor: pointer;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #ddd;
}
